extends base

block styles
  link(rel='stylesheet' href='/css/home.css')

block content
  main.main
    .background
      img(src='/img/img.png')

    .container
      .orange-line-high

      .top-bar
        .logo
          img(src='/img/PH_logo.png')
        div
        .nav
          a.active(href='/home') Home
          a(href='/about') About Us
          a(href='/rent-info') Renting Info
          a(href='/map') Map
          a(href='/pricing') Pricing
          a(href='/join') Join Us
        .auth
          button
            a(href='/signup') Sign Up
          button
            a(href='/login') Log In

      .content
        div
        .title-container
          h1.title Power
          h1.title Hive
        .button-container
          button
            a(href='/login-rent') Get Started
          button
            a(href='/login-return') Return Power Bank
        div

      .bottom-bar
        .social
          a(href='')
            img(src='/img/X.png')
          a(href='')
            img(src='/img/insta.png')
          a(href='')
            img(src='/img/linkedin.png')
        .terms
          a(href='/terms') Terms and Conditions
        div

      .orange-line-low
