.content-login {
  align-items: start;
}

.login-container {
  margin: 20px 15rem 0px;
  background: white;
  box-shadow: 0 2px 10px lightgray;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: auto;
  border-radius: 10px;
  height: 70vh;
}

.login-title {
  align-items: center;
  font-size: 2.5rem;
  font-weight: lighter;
  justify-self: center;
  margin-top: 10px;
}

.login-form {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto 1fr;
}

.login-form label {
  margin-top: 8px;
  margin-left: 12px;
  align-self: end;
}

.login-form input {
  margin: 10px;
  border-radius: 10px;
  border: black 1px solid;
  height: 40px;
  padding-left: 5px;
}

.login-button {
  justify-self: center;
  display: flex;
  width: 100%;
}

.login-button button {
  height: 40px;
  background: black;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.login-button button:hover {
  background: #444444;
}

.login-button button a {
  color: white;
  text-decoration: none;
}

.forgot-button {
  margin-left: 10px;
}

.forgot-button button {
  background: none;
  border: none;
}

.forgot-button button a {
  color: black;
}

.login-button button {
  color: white;
}

.login-button button:hover {
  background: #444444;
  color: white;
}
