.content-signup {
  align-items: start;
}

.signup-container{
  margin: 20px 15rem 0px;
  background: white;
  box-shadow: 0 2px 10px lightgray;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
  border-radius: 10px;
  height: 70vh;
}

.signup-title{
  align-items: center;
  font-size: 2.5rem;
  font-weight: lighter;
  justify-self: center;
  margin-top: 10px;
}

.signup-form{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.sign-field{
  display: grid;
  grid-template-rows: 1fr auto;
}

.sign-field label{
  margin-top: 8px;
  margin-left: 12px;
  align-self: end;
}

.sign-field input{
  margin: 10px;
  border-radius: 10px;
  border: black 1px solid;
  height: 40px;
  padding-left: 5px;
}







.signup-button{
  justify-self: center;
  display: flex;
  width: 100%;
}

.signup-button button{
  height: 40px;
  background: black;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.signup-button button:hover{
  background: #444444;
}

.signup-button button a{
  color: white;
  text-decoration: none;
}
